<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoUpdateClickOnceDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoUpdateClickOnceDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoUpdateClickOnceDemo.Properties.Settings>
            <setting name="SettingsFile" serializeAs="String">
                <value>C:\temp\BeispielSettings.json</value>
            </setting>
            <setting name="TestEinstellung" serializeAs="String">
                <value>Meine Einstellung</value>
            </setting>
        </AutoUpdateClickOnceDemo.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AutoUpdateClickOnceDemo.Properties.Settings>
            <setting name="SettingsKey1App" serializeAs="String">
                <value>654654</value>
            </setting>
        </AutoUpdateClickOnceDemo.Properties.Settings>
    </applicationSettings>
</configuration>